.container{
    display: flex;
    flex-direction: row;
}
.first_container{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-right: solid 1px black;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
*{
    margin: 0px;
    padding: 0px;
}
.second_container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 40vw;
    height: 100vh;
    border-right: solid 1px black;
}
#input1{
    background-color: rgb(128, 125, 125);
    padding-top:10px;
    padding-left: 10px;
    border-radius: 2em;
    width: 30vw;
    height: 15vh;
    border: solid lightskyblue 3px;
}