.ball{
    background-color: red;
    border-radius: 50%;
    transition-duration: 10s;
    height: 100px;
    width: 100px;
}

.ball:hover{
    animation-name: something;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
 @keyframes something{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(400px) rotate(180deg);
    }
    100%{
        transform: translateY(0px) rotate(360deg);
    }
 }