*{
    margin: 2px 2px 2px 2px;
    padding: 0;
    border: 1px solid black;
    width: auto;
}
h1{
    color: red;
}
#samarth{
    background-color: chartreuse;
}
.sam{
    font-size: 40px;
}
input[type='text']{
    background-color: rgb(68, 155, 50);
    color: rgb(112, 184, 70);
    border-radius: 5%;
}
.container{
    background-image: url(./pexels-quintin-gellar-313782.jpg);
    background-blend-mode: color-dodge;
    size: 90vh;
    
}