body{
    background-color: beige;
}
table{
    --margin-left: 100px;
    background-color: antiquewhite;
    position: relative;
    padding: 5px;
    word-spacing: 4%;
}
thead{
    background-color: rgb(33, 146, 91);
}
h1{
    color:rgb(17, 73, 54);
    border:solid;
    border-width: 5px;
    background-color: rgb(169, 169, 121);
    align-self: center;
}
th{
    color: rgb(11, 83, 59);
    background-color: beige;
}
td{
    color: rgba(84, 84, 0, 0.925);
    padding: 5px;
}
td:hover{
    background-color: aqua;
}
th:hover{
    background-color: aliceblue;
}